<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <!-- Outros componentes do aplicativo aqui -->

        <service
            android:name="com.rtnmoduletask.ExampleService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service
            android:name="com.rtnmoduletask.ExampleEventService">
        </service>
        
    </application>
</manifest>
